<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ida:ClientID" value="ca182125-9263-418b-b663-1b690729ebcc" />
    <add key="ida:ClientKey"
      value="VaBLrch0XXzINL/bGzpopj0y/jFA/mdnns1qEHuK9rE=" />
    <add key="Authority" value="gwmdemo.onmicrosoft.com" />
    <add key="ResourceUrl" value="http://gwmdemo.cloudapp.net/" />
    <add key="AppHostName" value="https://localhost:44301/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
